/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #161616;
    max-width: 1120px;
    height: 646px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.welcome-text .photo img {
    Width: 581px;
    Height: 613px;
}

.text {
    height: 424px;
    width: 531px;
    margin-left: 82px;
    margin-top: 30px;
    margin-bottom: 53px;
    border-radius: 5px;

}

.photo {
    margin-top: 33px;
}

.welcome-text {
    display: flex;
    justify-content: space-evenly;
}

.fat-text {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}

.p-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.text a {
    text-decoration: none;
    background: #DD0000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid tomato;
    border-radius: 5px;
}

/* second section */
.container-two {
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.options {
    background-color: #161616;
    height: 312px;
    min-width: 244px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.player {
    width: 280px;
    height: 360px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.player .fig img {
    width: 100%;

}

.player .auction-text {
    margin-top: 10px;
    margin-left: 15px;
}

.options {
    width: 420px;
}

.options a {
    text-decoration: none;
    background-color: white;
    color: #161616;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    margin: 20px;

}

/* auctions now */
.description {
    font-size: 18px;
    font-weight: 600;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.parent {
    display: flex;
}

.auction {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

/* footer section */
.last-sec {
    background-color: #161616;
}

.foot-text {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

hr {
    color: white;
    width: 1120px;
}

.foot-con {
    width: 1120px;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}